<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwwuyu.recite">
    <!--&lt;!&ndash; 联网权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.INTERNET"/>-->
    <!--&lt;!&ndash; 更改系统设置 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--&lt;!&ndash; 获取栈信息 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.GET_TASKS"/>-->
    <!--&lt;!&ndash; 写SD卡 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--&lt;!&ndash; 读SD卡 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <!--&lt;!&ndash; 获取网络状态 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->

    <application
        android:name=".config.TApplication"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 欢迎页面 -->
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LauncherStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 首页 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MainActTheme"/>
        <!-- Index单词列表 -->
        <activity
            android:name=".activity.word.IndexWordsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SlideActTheme"/>
        <!-- 收藏单词列表 -->
        <activity
            android:name=".activity.word.CollectWordsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SlideActTheme"/>
        <!-- 正序单词列表 -->
        <activity
            android:name=".activity.word.OrderWordsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SlideActTheme"/>
        <!-- 搜索单词 -->
        <activity
            android:name=".activity.word.SearchWordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SearchTheme"/>
        <!-- 单词详情 -->
        <activity
            android:name=".activity.word.WordDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SlideActTheme"/>

    </application>
</manifest>
